# ################  Ignore extension files: ############

*.pdf
*.eps
*.log
*.png
*.fig
*.mat
*.asv
*.avi

# ######### SPECIFIC FILES ##########33
temp.py
test.zip
test01.py
test02.py
test*.py
temp.m 


DetectVelocityPeaks_func (copy).m.BAK
Filter_yData_transient*
NO_gvcenvelope.m 
NO_onsetdetect.m 
tmp.m 
hola.m
A44_pitchG_20240301_190919_NoGroove.mat.NoGroove
plot_getScatteredData.m
Analysis_TransientBis.m


# ################# Auto things and OS ###########

.DS_Store
Thumbs.db
__pycache__/


# MeasureInletOutlet/Photos/: Ignores all files and subdirectories in the MeasureInletOutlet/Photos/ directory

# ################ FOLDERS ##################

BackupData/
Delete/
Dismiss_LowRJV/
SpecialCases/
test/

processed/BENOIT*
processed/Corr*
processed/NO_Analysis_Plotter* 
processed/*.fig 
processed/temp.m
processed/BackupDataProcessed/
processed/Delete/
processed/Dismiss/
processed/Figures/
processed/Figures/Pngs/
processed/Geometry/FindScatterLine_XData_Ydata.m





